@media screen and (min-width: 601px) {
  .timeline .time {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 600px) {
  .timeline .time {
    margin-bottom: 0.3rem;
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 600px) {
  .timeline p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 14px;
  }

  .section-title {
    font-size: 32px;
  }

  .section-subtitle {
    font-size: 14px;
  }

  .hero-section {
    height: unset;
    min-height: 100vh;
  }

  .hero-img {
    width: 50%;
  }

  .porto-section {
    border-radius: 60px 60px 0 0;
  }

  .porto-title {
    font-size: 22px;
  }
}

@media screen and (max-width: 426px) {
  .section-title {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .hero-img {
    width: 75%;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-desc {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  .section-title {
    font-size: 24px;
  }

  .section-subtitle {
    font-size: 12px;
  }
  .timeline .timeline-title {
    font-size: 18px;
  }

  .timeline-time {
    font-size: 16px;
  }

  .timeline-point {
    font-size: 14px;
  }

  .runtext-container .holder a {
    font-size: 32px;
  }
  .circle-running {
    height: 40px;
    width: 40px;
    margin: 0 40px;
  }
}
