@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
}

* {
  font-family: var(--font-primary);
}

body {
  color: #fafafa;
  background-color: #101820;
}

/* Navbar wrapper */
.navbar {
  padding-top: 24px;
}


/* Pill shape */
.navbar-pill {
  background: rgba(30, 30, 30, 0.85);
  backdrop-filter: blur(12px);
  border-radius: 999px;
  padding: 14px 32px;
}

/* Brand */
.navbar-brand {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.navbar-brand:hover {
  color: #fff;
}

/* Menu */
.nav-link {
  color: #ddd;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #FFC83D;
}

/* Active menu */
.nav-link.active {
  color: #FFC83D !important;
}

/* Mobile fix */
.navbar-toggler {
  border: none;
}


.nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #FFC83D;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link.active::after {
  width: 100%;
}

/* Toggle position */
.navbar-toggler-custom {
  position: absolute;
  right: 16px;
  border: none;
   z-index: 1051; /* lebih tinggi dari collapse */
}

.navbar-collapse {
  position: relative;
  z-index: 1040;
  margin-top: 16px;
}

.navbar-toggler-icon {
  filter: invert(74%) sepia(83%) saturate(430%) hue-rotate(359deg) brightness(103%) contrast(104%);
}


a {
  text-decoration: none;
}

.text-secondary {
  color: #c4c4c4 !important;
  line-height: 150%;
}

.btn {
  font-weight: bold;
  border-radius: 5px;
  font-size: 15px;
}

.btn-primary {
  background-color: #003078;
  border: none;
}

.section {
  padding: 48px 0;
}

.hero-section {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 28.94%,
    rgba(244, 245, 141, 0.0312417) 53.13%,
    rgba(2, 27, 63, 0.3) 77.88%
  );
  height: 100vh;
  margin-bottom: 40px;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero-desc {
  font-size: 18px;
  color: #c4c4c4;
  margin-bottom: 28px;
  line-height: 150%;
}

.hero-decoration {
  position: absolute;
  height: 200px;
  width: 200px;
  object-fit: contain;
  top: 40px;
  left: -20px;
}

.section-title {
  font-size: 48px;
  font-weight: 600;
  display: block;
  margin-bottom: 80px;
}

.section-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.content-title {
  font-size: 24px;
  font-weight: 600;
}

.hero-img {
  width: 80%;
}

.porto-section {
  background-color: #13171c;
  border-radius: 100px 100px 0 0;
}

.porto-title {
  font-size: 24px;
}

.ilst-2 {
  background-image: url("../images/bgist2.png");
}

.ilst-4 {
  background-image: url("../images/bgist4.png");
}

.custom-margin{
  margin-top: 100px;
}

.exp-section {
  background: linear-gradient(to top left, #ffffff00, #507ded3f);
}

.contact-section,
footer {
  background-color: #1a1b23;
}

/* timeline css */
.timeline > ul,
.timeline > li {
  list-style: none;
  padding: 0;
}

.timeline.wrapper {
  padding: 2rem;
  border-radius: 15px;
}

.timeline h1 {
  font-size: 1.1rem;
  font-family: sans-serif;
}

.timeline .sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

li.timeline-point {
  padding-bottom: 1.5rem;
  border-left: 1px solid white;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.timeline li:last-child {
  border: 0px;
  padding-bottom: 0;
}

.timeline li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid white;
  box-shadow: 3px 3px 0px #bab5f8;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}

.timeline .timeline-title {
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.timeline-time {
  font-size: 20px;
  color: #b0b0b0;
  margin-bottom: 8px;
}

/* running text */

marquee {
  margin-top: 5px;
  width: 100%;
}

.runtext-container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  margin-bottom: 60px;
  padding: 0 3px 0 3px;
}

.main-runtext {
  margin: 0 auto;
  overflow: visible;
  position: relative;
}

.runtext-container .holder {
  position: relative;
  overflow: visible;
  display: inline;
  float: left;
}

.runtext-container .holder .text-container {
  display: inline;
}

.runtext-container .holder a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  line-height: -0.5em;
  font-size: 64px;
  font-family: "Goudy Bookletter 1911", serif;
}

.circle-running {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: white;
  margin: 0 60px;
}

/* About Section */
.section {
  padding: 90px, 0;
}

.konten-img {
  max-width: 100%;
}

/* Mobile: jadi kotak */
@media (max-width: 768px) {
  .navbar-pill {
    border-radius: 16px;
    padding: 12px 16px;
  }

  .navbar-collapse {
    background: rgba(30, 30, 30, 0.95);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    margin-top: 12px;
  }
  

  .navbar-collapse.show ~ .navbar-pill .navbar-brand-custom {
    display: none;
  }

  .navbar-nav {
    text-align: center;
  }
}